.AuthContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.social_btn_google,
.social_btn_github {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
}

.social_btn_github {
  background-color: rgb(88, 88, 88);
  color: white;
}

.social_btn_google {
  background-color: rgb(247, 133, 133);
  color: white;
}
