.eweet_boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eweet_box {
  background-color: rgba(232, 215, 238, 0.7);
  box-shadow: 3px 3px rgb(138, 65, 255);
  display: flex;
  max-width: 320px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  align-self: center;
  align-items: center;
  border-radius: 10px;
}

.eweet_text {
  flex: 6;
  text-align: left;
  padding-left: 10px;
}

.eweet_img {
  border-radius: 1000px;
  margin-right: 10px;
}

.iconBtn_box {
  flex: 1;
}
