.eweetsfactory_form {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.eweets_input {
  padding: 8px;
  border: 1.5px solid rgb(138, 65, 255);
  max-width: 320px;
  width: 100%;
  border-radius: 20px;
}

.eweets_submit {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(138, 65, 255);
  color: white;
  border-radius: 1000px;
  position: relative;
  left: -30px;
}

.attach_file_label {
  font-size: 13px;
  color: rgb(138, 65, 255);
  cursor: pointer;
}

.eweets_photoBtn {
  display: none;
}
