.eweetsfactory_container {
  display: flex;
  justify-content: center;
}

.eweetsfactory_form {
  width: 320px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.eweets_inputTextBox {
  display: flex;
  position: relative;
  margin-bottom: 8px;
}

.eweets_input {
  padding: 8px;
  border: 1.5px solid rgb(138, 65, 255);
  max-width: 350px;
  width: 100%;
  border-radius: 20px;
}

.eweets_submit {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(138, 65, 255);
  color: white;
  border-radius: 1000px;
  position: absolute;
  right: 0;
}

.attach_file_label {
  font-size: 13px;
  color: rgb(138, 65, 255);
  cursor: pointer;
}

.eweets_photoBtn {
  display: none;
}
