.nav {
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin-top: 50px;
}

li {
  flex: 1;
  margin: 10px;
  list-style: none;
  width: 100%;
  text-align: center;
}

.empty_li {
  flex: 10;
}

.profile_displayName {
  margin-top: 2px;
  color: rgb(138, 65, 255);
  font-weight: bold;
}
